{% extends 'base_admin.html.twig' %}

{% block page_wrapper %}
    <h1>Flats list</h1>

    <table id="flat" class="table table-bordered dataTable" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for flat in flats %}
            <tr>
                <td>{{ flat.id }}</td>
                <td>{{ flat.name }}</td>
                <td>{{ flat.address }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('admin-panel_flat_show', { 'id': flat.id }) }}"><i class="fa fa-eye"></i> show</a>
                    <a class="btn btn-warning" href="{{ path('admin-panel_flat_edit', { 'id': flat.id }) }}"><i class="fa fa-edit"></i> Modifier</a>
                    <a class="btn btn-danger" href="{{ path('admin-panel_flat_delete', { 'id': flat.id }) }}"><i class="fa fa-trash"></i> Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <a href="{{ path('admin-panel_flat_new') }}" class="btn btn-success" ><i class="material-icons">&#xE147;</i> <span>Ajouter un appartement</span></a>


{% endblock page_wrapper %}
{% block javascripts %}
    <script src="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css"></script>

    <script> $(document).ready(function() {
            $('#flat').DataTable(  );
        } );
    </script>
{% endblock javascripts %}