<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    {% block base_stylesheets %}

        <link href="{{ asset("../vendor/bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">
 <!-- Custom fonts for this template
        <link href="{{ asset("../vendor/font-awesome/css/font-awesome.min.css") }}" rel="stylesheet" type="text/css">-->
        <!-- Page level plugin CSS
        <link href="{{ asset("../vendor/datatables/css/dataTables.bootstrap4.css") }}" rel="stylesheet">-->
        <!-- Custom styles for this template-->
        <link href="{{ asset("../css/sb-admin.css") }}" rel="stylesheet">

        {% block stylesheets %}
        {% endblock stylesheets %}

    {% endblock %}


    <title>{% block title %}Something Clever Here!{% endblock %}</title>

    <!-- Latest compiled and minified CSS -->
    <!-- Latest compiled and minified JavaScript -->

</head>

<body>

    <!-- Navigation-->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="#Index">Start Bootstrap</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#About">Description</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Appartements">Nos appartements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Contact">Contact</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}
    {% block body %}{% endblock %}

</body>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block base_javascripts %}
    <!-- jQuery-->
    <script src="{{ asset("vendor/jquery/jquery.min.js") }}"></script>
    <script src="{{ asset("vendor/bootstrap/js/bootstrap.bundle.min.js") }}"></script>

    <!-- Core plugin JavaScipt
    <script src="{{ asset("vendor/jquery-easing/jquery.easing.min.js") }}"></script>-->
    <!-- Page level plugin JavaScript
    <script src="{{ asset("vendor/chart.js/Chart.min.js")}}"></script>
    <script src="{{ asset("vendor/datatables/js/jquery.dataTables.js")}}"></script>

    -->
    {% block javascripts %}
    {% endblock javascripts %}

{% endblock base_javascripts%}
</html>