{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}


{% block content %}


    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- <h1 class="display-3 text-center text-white mt-4">Business Name or Tagline</h1> -->
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-sm-8">
                <h2 class="mt-4">Description</h2>
                <p>Location d'appartemententiérement remis á neuf, situé à coté de l'école d'infirmier </p>
            </div>
            <div class="col-sm-4">
                <h2 class="mt-4">Contact</h2>
                <address>
                    <br>13 rue la floque
                    <br>Vichy 03200
                    <br>
                </address>
                <address>
                    <abbr title="Phone">P:</abbr>
                    06 07 41 44 88
                    <br>
                    <abbr title="Email">E:</abbr>
                    <a href="mailto:#">oliflofa@wanadoo.fr</a>
                </address>
            </div>
        </div>

        <!-- /.row -->
        <div class="row">
            {% for flat in flats %}
                <div class="col-sm-4 my-4">
                    <div class="card">
                        <div id="Carousel-{{ flat.getId() }}" class="carousel slide" data-ride="carousel">

                            <div class="carousel-inner">
                                {% for i in 0..flat.images()|length-1 %}
                                    {% if (i== 0) %}
                                        <div class="item active">
                                            <img class="d-block w-100"
                                                 src="{{ asset("uploads/images/") }}{{ flat.getName() }}/{{ flat.images()[i].getName() }}"
                                                 alt="First slide">
                                        </div>
                                    {% else %}
                                        <div class="item">
                                            <img class="d-block w-100"
                                                 src="{{ asset("uploads/images/") }}{{ flat.getName() }}/{{ flat.images()[i].getName() }}"
                                                 alt="First slide">
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" id="carousel-prev-{{ flat.getId() }}"  role="button"
                               data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next " id="carousel-next-{{ flat.getId() }}"  role="button"
                               data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Description</h4>
                            <p class="card-text"> {{ flat.getDescription() }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">En savoir plus !</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


        {#
        <div class="row">
            {% for flat in flats %}
                <div class="col-sm-4 my-4">
                    <div class="card">
                        {% for i in flat.images() %}
                            <img class="img-thumbnail"
                                 src="{{ asset("uploads/images/") }}{{ flat.getName() }}/{{ i.getName() }}" alt="">
                        {% endfor %}
                        <div class="card-body">
                            <h4 class="card-title">Description</h4>
                            <p class="card-text"> {{ flat.getDescription() }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">En savoir plus !</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-sm-4 my-4">
                <div class="card">
                    <img class="card-img-top" src="http://placehold.it/300x200" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Description</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse
                            necessitatibus neque sequi doloribus totam ut praesentium aut.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">En savoir plus !</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 my-4">
                <div class="card">
                    <img class="card-img-top" src="http://placehold.it/300x200" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Description</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse
                            necessitatibus neque.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">En savoir plus !</a>
                    </div>
                </div>
            </div>
        </div>#}
        <!-- /.row -->
        <div class="row">
            <div class="col-sm-4 my-4">
                <div class="card">
                    <img class="card-img-top" src="http://placehold.it/300x200" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Description</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse
                            necessitatibus neque sequi doloribus.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">En savoir plus !</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 my-4">
                <div class="card">
                    <img class="card-img-top" src="http://placehold.it/300x200" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Description</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse
                            necessitatibus neque sequi doloribus totam ut praesentium aut.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">En savoir plus !</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
        </div>
        <!-- /.container -->
    </footer>

{% endblock %}



    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


        <script>

            {% for flat in flats %}
            // Activate Carousel
            //   $("#carousel").carousel();

            $('#Carousel-{{ flat.getId() }}').carousel({
            });

            // Enable Carousel Indicators
            $("#carousel-next-{{ flat.getId() }}").click(function () {
                $("#Carousel-{{ flat.getId() }}").carousel('next');
            });

            // Enable Carousel Controls
            $("#carousel-prev-{{ flat.getId() }}").click(function () {
                $("#Carousel-{{ flat.getId() }}").carousel("prev");
            });
            {% endfor %}
        </script>
    {% endblock %}