{% extends 'base_admin.html.twig' %}

{% block page_wrapper %}
<div class="row">
    <div class="col-md-12">
            <h1>User creation</h1>

            {{ form_start(form) }}
                {{ form_errors(form) }}
            <div>
                {{ form_errors(form) }}
            </div>
            {% for error in form.vars.errors.form.getErrors(true) %}
                <li><div class="alert-danger">{{ error.message}}</div></li>
            {% endfor %}
        <table id="AddUser" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Email</th>
                <th>Username</th>
                <th>Password</th>
                <th>Confirmation Password</th>
                <th>Activer</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ form_widget(form.email) }}</td>
                <td>{{ form_widget(form.username) }}</td>
                <td>{{ form_widget(form.plainPassword.first) }}</td>
                <td>{{ form_widget(form.plainPassword.second) }}</td>
                <td>{{ form_widget(form.enabled) }}</td>
                <td>
                    <ul>
                        <li class="nav-item">
                            {{ form_widget(form) }}
                            <input type="submit" class="btn btn-success " value="Ajouter" />

                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>

            {{ form_end(form) }}


            <ul>
                <li class="nav-item">
                    <a href="{{ path('admin-panel_user_index') }}">Back to the list</a>
                </li>
            </ul>
    </div>
</div>
{% endblock page_wrapper %}

