{% extends 'base_admin.html.twig' %}

{% block page_wrapper %}
<div class="row">
    <div class="col-md-12">
            <h1>User creation</h1>

            {{ form_start(form) }}
            {% for error in form.vars.errors.form.getErrors(true) %}
                <div class="alert-danger"><i class="fa fa-exclamation-triangle"></i> {{ error.message}}</div>
            {% endfor %}
        <table id="AddUser" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Email</th>
                <th>Username</th>
                <th>Password</th>
                <th>Confirmation Password</th>
                <th>Activer</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ form_widget(form.email) }}</td>
                <td>{{ form_widget(form.username) }}</td>
                <td>{{ form_widget(form.plainPassword.first) }}</td>
                <td>{{ form_widget(form.plainPassword.second) }}</td>
                <td>{{ form_widget(form.enabled) }}</td>
                <td>
                    {{ form_rest(form) }}
                    <input type="submit" class="btn btn-success " value="Ajouter" />
                </td>
            </tr>
            </tbody>
        </table>

            {{ form_end(form) }}

        <div class="row">
            <div class="col-md-12 text-right">
                <a href="{{ path('admin-panel_user_index') }}" class="btn btn-dark"><i class="fa fa-backward"></i> Retour vers la liste </a>
            </div>
        </div>
    </div>
</div>
{% endblock page_wrapper %}

